In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from modules.my_pyspark import *
from modules.my_drawer import MyDrawer

In [3]:
drawer = MyDrawer()
spark = MyPySpark(session=True, sql=True)

In [4]:
spark.context

#### Task 1

In [6]:
file_path = r'data/flights_small.csv'

In [7]:
data = spark.readFile(file_path, 'csv')

#### Task 2

_In schema_

In [8]:
data.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- dep_time: string (nullable = true)
 |-- dep_delay: string (nullable = true)
 |-- arr_time: string (nullable = true)
 |-- arr_delay: string (nullable = true)
 |-- carrier: string (nullable = true)
 |-- tailnum: string (nullable = true)
 |-- flight: integer (nullable = true)
 |-- origin: string (nullable = true)
 |-- dest: string (nullable = true)
 |-- air_time: string (nullable = true)
 |-- distance: integer (nullable = true)
 |-- hour: string (nullable = true)
 |-- minute: string (nullable = true)

_Hiển thị 3 dòng đầu tiên_

In [12]:
data.toPandas().iloc[:3, :]

   year  month  day dep_time dep_delay  ... dest air_time distance hour  minute
0  2014     12    8      658        -7  ...  LAX      132      954    6      58
1  2014      1   22     1040         5  ...  HNL      360     2677   10      40
2  2014      3    9     1443        -2  ...  SFO      111      679   14      43

[3 rows x 16 columns]

_Cho biết dữ liệu có bao nhiêu dòng_

In [13]:
data.count()

10000

#### Task 3

In [15]:
db_name = 'flights_small'

In [14]:
data.createOrReplaceTempView(db_name)

#### Task 4

_Tạo dataframe_

In [16]:
flights = spark.dataframe(db_name)

_Hiển thị 3 dòng đầu_

In [19]:
flights.toPandas().iloc[:3, :]

   year  month  day dep_time dep_delay  ... dest air_time distance hour  minute
0  2014     12    8      658        -7  ...  LAX      132      954    6      58
1  2014      1   22     1040         5  ...  HNL      360     2677   10      40
2  2014      3    9     1443        -2  ...  SFO      111      679   14      43

[3 rows x 16 columns]

#### Task 5

In [20]:
flights = flights.withColumn('duration_hrs', flights['air_time']/60.0)

In [23]:
flights.toPandas().iloc[:3, :]

   year  month  day dep_time  ... distance hour minute duration_hrs
0  2014     12    8      658  ...      954    6     58         2.20
1  2014      1   22     1040  ...     2677   10     40         6.00
2  2014      3    9     1443  ...      679   14     43         1.85

[3 rows x 17 columns]

#### Task 6

_Với dataframe_

In [27]:
long_flights1 = flights.filter(flights['distance'] > 2_000)

> Cách khác:
> ```python
> long_flights1 = flights.filter('distance > 2000')
> ```

_Số dòng thỏa điều kiện này_

In [28]:
long_flights1.count()

1481

<hr>

_Với SQL query_

In [29]:
query_0 = '''
    select fs.*
    from flights_small as fs
    where fs.distance > 2000
'''

In [30]:
long_flights1_ = spark.sqlQuery(query_0)

In [31]:
long_flights1_.count()

1481

#### Task 7

_Với dataframe_

In [32]:
time_flights = flights.filter((flights['air_time'] >= 300) & (flights['air_time'] <= 600))

> Cách khác:
> ```python
> time_flights = flights.filter('air_time >= 300 and air_time <= 600')
> ```